#attendance{
  .pad_none{
    padding:0px;
  }
  .row_margin{
    margin-top: 25px;
    margin-left:15px;
  }
  .select_width{
    width:80%;
  }
  .not-allowed{
    cursor:not-allowed;
    font-weight:bold;
  }
  .hidden{
    display: none;
  }

  form{
    background-color: #F8F8F8;
    border: 1px solid #CFCFCF;
    border-radius: 4px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    .padma-contact-label{
      label{
        line-height:2.2;
        margin-bottom:0px;
        padding:0px 9px;
      }
    }
  }
  legend{
    border-bottom: 1px solid #666666;
  }
}

ul#padma_contacts {
  li {
    list-style-type: none;
  }
  .btn:hover {
    color: #fff;
    background: #5cb85c;
    border-color: #4cae4c;
  }
}

ul#attendance_contacts {
  li {
    list-style-type: none;
  }

  .btn {
    color: #fff;
    background: #5cb85c;
    border-color: #4cae4c;
  }

  .btn:hover {
    color: #fff;
    background: #c9302c;
    border-color: #ac2925
  }
}

.students-list {
  font-weight: bold;
  padding-bottom: 10px;
}

.list-group-item.today.other-users-ts {
  list-style: none;
}
