#attendance {
  .well {
    background-color: #fff;
  }
  .select_width {
    width: 80%;
  }
}

.list-group-item.today.other-users-ts {
  list-style: none;
}

// Attendance new mockup
.filter-controls {
  .label-filter {
    color: #333;
    font: {
      size: 13px;
      weight: normal;
    }
    padding: 0 10px;
  }
  .filter-buttons[data-activates='nav-mobile'] {
    display: inline-block;
    vertical-align: middle;
    @media (max-width: 767px) {
      float: right;
    }
  }
}

@media (max-width: 767px) {
  .attendance-navbar {
    .filter-controls {
      + .filter-controls {
        border-top: 1px solid #ddd;
        margin-top: 10px;
      }
      .label-filter {
        display: block;
        padding: 10px;
        text-align: center;
        &.label-filter-inline {
          display: inline-block;
          @media (max-width: 767px) {
            display: none;
          }
        }
      }
    }
    .filter-controls-right {
      &:before,
      &:after {
        display: table;
        content: '';
      }
      &:after {
        clear: both;
      }
      .btn {
        float: left;
        width: calc(50% - 5px);
        + .btn {
          margin-left: 10px;
        }
      }
    }
  }
  .attendance-body {
    .list-group {
      margin-bottom: 0;
    }
    .list-group-item {
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

@media (min-width: 768px) {
  .attendance-navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .attendance-navbar {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    .btn.datepicker {
      margin-left: -10px;
    }
  }

  .filter-controls {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .filter-controls-right {
    text-align: right;
  }

  .attendance-body {
    display: table;
    table-layout: fixed;
    width: 100%;
    .panel {
      border-right: none;
      display: table-cell;
      vertical-align: top;
      &:last-child {
        border-right: solid 1px #ddd;
      }
    }
  }
}

.attendance-body {
  .panel-heading {
    font: {
      size: 16px;
    }
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    &.current-day {
      background-color: #ebebeb;
      font-weight: bold;
    }
  }
  .panel-body {
    padding: 0;
    @media (max-width: 767px) {
      min-height: 15px;
    }
  }
  .list-group-item {
    background-color: #fff;
    border-width: 0 0 1px 0;
    padding: 5px 10px;
    -webkit-transition: background-color .2s linear, opacity .2s;
    transition: background-color .2s linear, opacity .2s;
    &:before {
      -webkit-transition: all .15s;
      transition: all .15s;
      -webkit-transform: scale(.8);
      transform: scale(.8);
    }
    &:first-child,
    &:last-child {
      border-radius: 0;
    }
    &.next {
      z-index: 1;
      &:before {
        border: 2px solid #1f9dd9;
        bottom: -2px;
        content: '';
        left: -2px;
        position: absolute;
        right: -2px;
        top: -2px;
        -webkit-transform: scale(1);
        transform: scale(1);
        z-index: -1;
      }
    }
    &.pending {
      background-color: #fff;
    }
    &.complete {
      background-color: #ebebeb;
      opacity: .6;
      .timeslot-content {
        margin-top: 0;
      }
    }
    &:hover {
      .timeslot-controls {
        opacity: 1;
        visibility: visible;
      }
    }
    + .list-group-item {
      border-top: 1px solid #ddd;
    }
    .glyphicon-check {
      display: none;
    }
  }
}

.timeslot-content {
  @media (max-width: 767px) {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -20px;
    .timeslot-controls {
      -webkit-box-flex: 0;
      -webkit-flex: none;
      -ms-flex: none;
      flex: none;
      margin-left: 15px;
      .btn {
        font-size: 14px;
        padding: 9px 25px;
      }
    }
  }
}

.timeslot-head {
  color: #333;
  font: {
    weight: bold;
  }
}

.timeslot-description {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: #666;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0 10px;
  width: 100%;
  > p {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    word-break: break-word;
  }
}

.timeslot-controls {
  opacity: 0;
  -webkit-transition: opacity .25s ease-in;
  transition: opacity .25s ease-in;
  visibility: hidden;
}

.results-count-attendances {
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
  outline: none;
  &.attendences0 {
    color: #d11111;
  }
}

.students-list {
  a {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

// Students list popover
.students-list-footer {
  a {
    color: #999;
    display: block;
    padding: 2.5px 5px;
    text-align: center;
    &:focus,
    &:hover {
      background-color: #f5f5f5;
      color: #666;
      text-decoration: none;
    }
  }
}

// Filter collapse
#attendance-filter {
  border-top: 4px solid #ebebeb;
  > form {
    padding: 10px 0;
    @media (max-width: 767px) {
      .control-label {
        width: 75px;
      }
      .select {
        width: calc(50% - 85px);
      }
    }
  }
}

@media (max-width: 767px) {
  #filter-attendance-button {
    margin-left: 7px;
    width: calc(50% - 5px);
  }

  .attendance-pending {
    &[data-activates='nav-mobile'] {
        display: block;
        margin-top: 10px;
      }
    }
}

.attendance-filter-list {
  .label-filter {
    color: #333;
    font: {
      size: 14px;
    }
    margin: 0 10px 0 0;
  }
  .label {
    border-radius: 0;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    @media (max-width: 767px) {
      margin-bottom: 5px;
    }
    .close {
      color: #fff;
      font: {
        size: 18px;
        weight: bold;
      }
      opacity: 1;
      padding-left: 5px;
      text-shadow: none;
    }
  }
}

// Modal check attendance
.checkattendance-form {
  .label-checkbox {
    color: #999;
    font: {
      size: 14px;
      weight: normal;
    }
    margin-bottom: 0;
  }
  .btn-group {
    .btn-link {
      position: relative;
      + .btn-link {
        &:before {
          background-color: #ddd;
          bottom: 5px;
          content: '';
          left: 0;
          position: absolute;
          top: 5px;
          width: 1px;
        }
      }
    }
  }
  .checkbox {
    margin-left: -20px;
  }
}

// New attendance
#attendance_contacts,
#padma_contacts {
  > li {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .btn {
    &:hover,
    &:focus,
    &:active,
    &:active:focus {
      background-color: #5cb85c;
      border-color: #5cb85c;
      color: #fff;
    }
  }
}

#attendance_contacts {
  .btn {
    &:hover {
      background-color: #1f9dd9;
      border-color: #1f9dd9;
    }
  }
}