#filter-attendance-button {
  display: none;
}

#attendance {
  .well {
    background-color: #fff;
  }
  .select_width {
    width: 80%;
  }
}

.list-group-item.today.other-users-ts {
  list-style: none;
}

// Attendance new mockup
.filter-controls {
  .label-filter {
    color: #333;
    font: {
      size: 13px;
      weight: normal;
    }
    padding: 0 10px;
  }
  .filter-buttons[data-activates='nav-mobile'] {
    display: inline-block;
    vertical-align: middle;
    @media (max-width: 767px) {
      float: right;
    }
  }
}

@media (max-width: 767px) {
  .attendance-navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    .filter-controls {
      .label-filter {
        display: block;
        padding: 10px;
        text-align: center;
        &.label-filter-inline {
          display: inline-block;
          @media (max-width: 767px) {
            display: none;
          }
        }
      }
    }
    .filter-controls-right {
      border-bottom: 1px solid #ddd;
      -webkit-box-flex: 1 100%;
      -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
      flex: 1 100%;
      margin-bottom: 10px;
      order: -1;
      padding-bottom: 10px;
      &:before,
      &:after {
        display: table;
        content: '';
      }
      &:after {
        clear: both;
      }
      .btn {
        float: left;
        width: calc(50% - 5px);
        + .btn {
          margin-left: 10px;
        }
      }
    }
    .btn-group-tofrom {
      z-index: 2;
    }
  }

  .attendance-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
    .panel {
      -webkit-box-flex: 1 100%;
      -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
      flex: 1 100%;
      @for $i from 0 through 100 {
        &[data-order='#{$i}'] {
          order: $i;
        }
      }
    }
    .list-group {
      margin-bottom: 0;
    }
    .list-group-item {
      &:last-child {
        border-bottom: none;
      }
    }
  }

}

@media (min-width: 768px) {
  .attendance-navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .attendance-navbar {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    .btn.datepicker {
      margin-left: -10px;
    }
  }

  .filter-controls {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .filter-controls-right {
    max-width: 35%;
    text-align: right;
    .recent-time-slot {
      padding-bottom: 5px;
      padding-right: 100px;
    }
  }

  .legend-date-day {
    .label-filter {
      padding: 5px 0;
    }
  }

  .attendance-body {
    display: table;
    table-layout: fixed;
    width: 100%;
    .panel {
      border-right: none;
      display: table-cell;
      vertical-align: top;
      &:last-child {
        border-right: solid 1px #ddd;
      }
    }
  }
}

@media (max-width: 320px) {
  .btn-group-tofrom,
  .group-checkbox {
    .btn {
      font: {
        size: 11.5px;
      }
    }
  }
}

.form-attendance {
  display: inline-block;
  margin: 0;
  position: relative;
  @media (max-width: 767px) {
    margin-top: -33px;
    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      &.group-checkbox {
        float: right;
      }
    }
  }
  @media (max-width: 320px) {
    margin-top: -31px;
  }
  .group-instructor {
    vertical-align: bottom;
    .control-label {
      display: block;
      font-size: 13px;
      margin-bottom: 0;
      padding: 5px 0;
    }
    .select:after {
      bottom: 0;
      height: calc(100% - 23px);
      top: inherit;
    }
  }
  .form-control {
    display: block;
  }
}

.checkbox-attendance-pending {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  &:hover,
  &:focus,
  &.active {
    background-color: #5bbd72;
    border-color: #5bbd72;
    color: #fff;
  }
}

.attendance-body {
  .panel-heading {
    border-radius: 0;
    font: {
      size: 16px;
    }
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    &.current-day {
      background-color: #0971b7;
      border-color: #0971b7;
      color: #fff;
      font-weight: bold;
    }
  }

  .panel-body {
    padding: 0;
    @media (max-width: 767px) {
      min-height: 15px;
    }
  }

  .list-group-item {
    background-color: #fff;
    border-width: 0 0 1px 0;
    padding: 5px 10px;
    -webkit-transition: background-color .2s linear, opacity .2s;
    transition: background-color .2s linear, opacity .2s;
    &:before {
      -webkit-transition: all .15s;
      transition: all .15s;
      -webkit-transform: scale(.8);
      transform: scale(.8);
    }
    &:first-child,
    &:last-child {
      border-radius: 0;
    }
    &.pending {
      background-color: #fff;
      z-index: 1;
      @media (max-width: 767px) {
        .timeslot-content {
          margin-top: -20px;
        }
      }
      &:before {
        border: 2px solid #1f9dd9;
        bottom: -2px;
        content: '';
        left: -2px;
        position: absolute;
        right: -2px;
        top: -2px;
        -webkit-transform: scale(1);
        transform: scale(1);
        z-index: -1;
      }
    }
    &:hover {
      .timeslot-controls {
        opacity: 1;
        visibility: visible;
      }
    }
    &.future-lesson {
      @media (max-width: 767px) { 
        display: none;
      }
      background-color: #ebebeb;
      opacity: .6;
      &:hover {
        .timeslot-controls {
          opacity: 0;
          visibility: hidden;
        }
      }
      .timeslot-content {
        margin-top: 0;
      }
    }
    + .list-group-item {
      border-top: 1px solid #ddd;
    }
  }
}

.timeslot-content {
  @media (max-width: 767px) {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    .timeslot-controls {
      -webkit-box-flex: 0;
      -webkit-flex: none;
      -ms-flex: none;
      flex: none;
      margin-left: 15px;
      .btn {
        font-size: 14px;
        padding: 9px 25px;
      }
      opacity: 1;
      visibility: visible;
    }
  }
}

.timeslot-head {
  color: #333;
  font: {
    weight: bold;
  }
}

.timeslot-description {
  color: #666;
  margin: 5px 0 10px;
  width: 100%;
  > p {
    margin: 0;
    word-break: break-word;
  }
}

.timeslot-controls {
  opacity: 0;
  -webkit-transition: opacity .25s ease-in;
  transition: opacity .25s ease-in;
  visibility: hidden;
}

.results-count-attendances {
  color: #5bbd72;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  &.attendances0 {
    color: #d11111;
  }
}

.students-list {
  a {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

// Students list popover
.students-list-footer {
  a {
    padding: 2.5px 5px;
    &:focus,
    &:hover {
      color: #357ebd;
      text-decoration: underline;
    }
  }
}

// Filter collapse
#attendance-filter {
  border-top: 4px solid #ebebeb;
  > form {
    padding: 10px 0;
    @media (max-width: 767px) {
      .control-label {
        width: 75px;
      }
      .select {
        width: calc(50% - 85px);
      }
    }
  }
}

@media (max-width: 767px) {
  .attendance-pending {
    &[data-activates='nav-mobile'] {
        display: block;
        margin-top: 10px;
      }
    }
}

.attendance-filter-list {
  .label-filter {
    color: #333;
    font: {
      size: 14px;
    }
    margin: 0 10px 0 0;
  }

  .label {
    border-radius: 0;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    @media (max-width: 767px) {
      margin-bottom: 5px;
    }
    .close {
      color: #fff;
      font: {
        size: 18px;
        weight: bold;
      }
      opacity: 1;
      padding-left: 5px;
      text-shadow: none;
    }
  }
}

// Modal check attendance
.checkattendance-form {
  position: absolute;
  height: calc(100% - 51px);
  width: 100%;
  .modal-body {
    height: calc(100% - 71px) !important;;
  }
  .label-checkbox {
    color: #999;
    font: {
      size: 14px;
      weight: normal;
    }
    margin-bottom: 0;
  }

  .btn-group {
    .btn-link {
      position: relative;
      + .btn-link {
        &:before {
          background-color: #ddd;
          bottom: 5px;
          content: '';
          left: 0;
          position: absolute;
          top: 5px;
          width: 1px;
        }
      }
    }
  }

  .checkbox {
    margin-left: -20px;
  }
}

// New attendance
#attendance_contacts,
#padma_contacts {
  > li {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .btn {
    &:hover,
    &:focus,
    &:active,
    &:active:focus {
      background-color: #5cb85c;
      border-color: #5cb85c;
      color: #fff;
    }
  }
}

#attendance_contacts {
  .btn {
    &:hover {
      background-color: #1f9dd9;
      border-color: #1f9dd9;
    }
  }
}
