// Place all the styles related to the mailchimp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#time_slot{
  input[type="text"] {
    height: 30px;
  }

  .row_margin{
    margin-top: 15px;
  }
  
  .pad_none{
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (min-width:320px) and (max-width:480px){
  .middle-section {
    width: 100%;
  }
  .instrutor_select{
    padding:0px;
    .bootstrap-select {
    width:100% !important;
  }
  }
  

}