// Place all the styles related to the mailchimp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#vacancies-think {
  display: none;
}

#time_slot{
  input[type="text"] {
    height: 30px;
  }

  .row_margin{
    margin-top: 15px;
  }
  
  .pad_none{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.select_btn_width{
  width:auto !important;
}
@media screen and (min-width:320px) and (max-width:700px){
  .middle-section {
    width: 100%;
    .row{
      margin-left:0px !important;
      margin-right:0px !important;
    }
  }
  .instrutor_select{
    padding:0px;
    .bootstrap-select {
    width:100% !important;
    }
  }
  .content{
    width:auto !important;
    padding:0 10px !important;
  }
  .left_pad_none{
    padding:0px;
  }
  body {
    padding-left: 0px;
    padding-top: 0;
  }
  .main_col_pad_none{
    padding-left:0px !important;
    padding-right:0px !important;
  }

}

@media screen and (min-width:360px) and (max-width:640px) and (orientation:landscape)
{
  .middle-section {
    width: auto !important;
  }
}
@media screen and(min-width:701px) and (max-width:1000px){
  .cultural_pad{
      display: inline !important;
      text-align:left;
    }
}
@media screen and (min-width:320px) and (max-width:700px){
  .start_end_date{
    padding-left:0px !important;
    padding-right:0px !important;
  }
}
