// Place all the styles related to the mailchimp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#vacancies-think {
  display: none;
}

.today.other-users-ts {
  display: none;
}

@media (max-width: 767px) {
  .instrutor_select {
    padding: 0;
    .bootstrap-select {
      width: 100% !important;
    }
  }
}

// Improve styles
.select_btn_width,
.start-end-date select{
  display: inline-block;
  vertical-align: middle;
  width: auto;
}