.timeslot-description {
  .results-count-attendances.green {
    color: green !important;
  }
  .results-count-attendances.red {
    color: red !important;
  }  
}

.timeslot-trials-list {
  span{
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.list-group-item.selected {
  border: 2px solid #1f9dd9;
}

.top-actions {
  text-align: right;
}

.trial-lesson-list {
	list-style-type: none;
	margin-bottom: 15px;
	li {
		+ li {
			margin-top: 5px;
		}
	}
}

.trial-lesson-list-head {
	color: #666;
	font: {
		size: 14px;
		weight: bold;
	}
}

.absent {
  display: inline;
  background-color: #c13e2c;
  color: #fff;
  font-weight: 700;
  border-radius: .25em;
  padding: .2em .6em .3em;
  text-align: center;
  font-size: 75%;
}

.assisted {
  display: inline;
  background-color: #FF9900;
  color: #fff;
  font-weight: 700;
  border-radius: .25em;
  padding: .2em .6em .3em;
  text-align: center;
  font-size: 75%;
}
