  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Marcar Asistencia Mié <span class='date'>9/9</span></h4>
      </div>
      <div class="modal-body">
        <form class='checkattendance-form' role='form'>
          <div class='form-group'>
            <label class='control-label'>Clase: Curso básico teórico</label>
            <div class='select'>
              <select class='form-control'>
                <option value="id-1">Clasde de 10:00 a 11:00 hs</option>
                <option value="id14431262211051">Clase de 11:00 a 12:00 hs</option>
                <option value="id-2">Clase de 14:00 a 15:00 hs</option>
                <option value="id14436207189901">Clase de 15:00 a 16:00 hs</option>
              </select>
            </div>
          </div>
          <div class='form-group'>
            <label class='control-label'>Instructor que da la clase</label>
            <div class='select'>
              <select class='form-control'>
                <option value="id14431262211051">Mariela Adrover</option>
                <option value="id-1">Alex Falke</option>
                <option value="id-2">Tu nombre</option>
                <option value="id144200393390848">Instructor 1</option>
                <option value="id144200397912350">Instructor 2</option>
                <option value="id144200398367551">Instructor 3</option>
              </select>
            </div>
          </div>
          <div class='form-group'>
            <label class='control-label'>Elige la lista de contactos:</label>
            <div class='select'>
              <select class='form-control'>
                <option value="id-1">Alumnos recurrentes de este horario</option>
                <option value="id14431262211051">ALumnos 2</option>
                <option value="id-2">ALumnos 3</option>
              </select>
            </div>
          </div>
          <div class='form-group'>
            <label class='label-checkbox'>Select:</label>
            <div class='btn-group'>
              <a href='' class='btn btn-link btn-sm'>All</a>
              <a href='' class='btn btn-link btn-sm'>None</a>
            </div>
            <div class='checkbox'><label><input type='checkbox' /> Alumno 1</label></div>
            <div class='checkbox'><label><input type='checkbox' /> Alumno 2</label></div>
            <div class='checkbox'><label><input type='checkbox' /> Alumno 3</label></div>
            <div class='checkbox'><label><input type='checkbox' /> Alumno 4</label></div>
            <div class='checkbox'><label><input type='checkbox' /> Alumno 5</label></div>
            <div class='checkbox'><label><input type='checkbox' /> Alumno 6</label></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type='button' class='btn btn-danger'>No vino nadie</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar asistencia</button>
      </div>
    </div>
  </div>

